.outer{
    border: solid;
    margin: auto;
    height: 300px;
    display: grid;
    /* grid-template-columns: 100px 200px 300px  400px; */
    /* grid-template-columns: 25% 25% 30% 20%; */ 
    /* grid-template-columns: 25% 25% 25% 25% ; */
    /* grid-template-columns: (4, 25%);
    gap: 20px */
    grid-template-columns: 1fr 2fr 1fr 2fr;
        text-align: center;
        /* text-align: space-between; */
        /* text-align: space-evenly; */
        /* text-align: space-around; */
}

.product{
    border: solid;
}
